[submodule "vendor/breakpad"]
	path = vendor/breakpad
	url = https://github.com/google/breakpad
[submodule "vendor/hl2sdk-cs2"]
	path = vendor/hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/metamod-source"]
	path = vendor/metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/funchook"]
	path = vendor/funchook
	url = https://github.com/kubo/funchook
[submodule "vendor/premake-clion"]
	path = vendor/premake-clion
	url = https://github.com/Enhex/premake-clion
[submodule "vendor/premake-cmake"]
	path = vendor/premake-cmake
	url = https://github.com/Enhex/premake-cmake
[submodule "vendor/Protobufs"]
	path = vendor/Protobufs
	url = https://github.com/SteamDatabase/Protobufs
