[submodule "vendor/hl2sdk-cs2"]
	path = vendor/hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
[submodule "vendor/metamod-source"]
	path = vendor/metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "vendor/breakpad"]
	path = vendor/breakpad
	url = https://github.com/SlynxCZ/breakpad.git
